@tailwind base;
@tailwind components;
@tailwind utilities;
@import "all.css";
@import "animations.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}
body {
  background: #f9f9f9;
}

.me {
  mask-image: url("./images/mask-1.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  filter: grayscale(0.8);
}
.about-me {
  mask-image: url("./images/mask-2.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  filter: grayscale(0.8);
  background-size: contain;
}

.scrollbar::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #0003; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Optional: Add rounded corners to the thumb */
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Set the color of the scrollbar track */
}

.footer {
  background: linear-gradient(to bottom, transparent, #0001);
}
