.animation-scroll {
  animation: scroll 1s infinite alternate ease-in-out;
}

@keyframes scroll {
  0% {
    top: 30%;
  }
  100% {
    top: 60%;
  }
}

.animation-slide-left {
  animation: slide-absolute-left 0.3s ease-in-out;
}

@keyframes slide-absolute-left {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
    display: block;
  }
}

/* Home Section */
section#home.active .socials {
  animation: fade-in 1s ease-in;
  opacity: 1;
}

section#home.active .me {
  animation: pop 0.5s ease-in;
}

section#home.active .hero {
  animation: slide-hero 0.5s ease-in;
}

@keyframes slide-hero {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pop {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

/* About */
section#about.active .header {
  animation: fade-in 0.7s ease-in;
  opacity: 1;
}

section#about.active .about-me {
  animation: pop 0.5s ease-in;
  opacity: 1;
}

section#about.active .about-me-info {
  animation: slide-right 0.3s ease-in;
  opacity: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translate(0);
  }
}

/* Skills */
section#skills.active .header {
  animation: fade-in 0.5s ease-in;
  opacity: 1;
}

section#skills.active .skills-info {
  animation: slide-hero 0.5s ease-in;
  opacity: 1;
}

section#skills.active .skills-rating {
  animation: slide-right 0.5s ease-in;
  opacity: 1;
}

/* Services */
section#services.active .services button:nth-child(1) {
  animation: slide-left 0.5s ease-in;
  opacity: 1;
}

section#services.active .services button:nth-child(2) {
  animation: pop 0.5s ease-in;
  opacity: 1;
}

section#services.active .services button:nth-child(3) {
  animation: slide-right 0.5s ease-in;
  opacity: 1;
}

section#services.active .pop-up {
  animation: pop 0.5s ease-in;
  opacity: 1;
}

/* Works */
section#works.active .header {
  animation: fade-in 0.5s ease-in;
  opacity: 1;
}

section#works.active .work div img {
  animation: slide-left 0.5s ease-in;
  opacity: 1;
}

section#works.active .work div div {
  animation: slide-right 0.5s ease-in;
  opacity: 1;
}

/* Contact */
section#contact.active .header {
  animation: fade-in 0.5s ease-in;
  opacity: 1;
}

section#contact.active div div:nth-child(1) {
  animation: slide-left 0.5s ease-in;
  opacity: 1;
}

section#contact.active div > div:nth-child(2) {
  animation: slide-right 0.5s ease-in;
  opacity: 1;
}
