@import "./CSS/home.css";
@import "./CSS/navigation.css";
@import "./CSS/responsive.css";
@import "./CSS/info.css";
@import "./CSS/works.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap");

/* Particles */
.tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: #121212;
  min-height: 100vh;
}

/* Computer Canvas */
#works-section,
.info-container {
  position: relative;
  height: 90vh;
}
.computer-canvas {
  position: absolute !important;
  top: 20px;
}
