@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap");

/* Particles */
.tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: #121212;
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  background: transparent;
  min-height: 60px;
  justify-content: space-around;
}
.header p {
  font-size: clamp(20px, 3vw, 30px);
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px 0;
}
.header .socials-btn i {
  margin: 0 3px;
  font-size: clamp(15px, 3vw, 20px);
}
.header .socials-btn {
  margin: 10px 0;
}

/* Navigation Side */
.navigation {
  position: fixed;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff1;
  padding: 10px;
  border-radius: 20px;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation ul a {
  padding: 8px 10px;
  margin: 2px 0;
  border-radius: 10px;
  font-size: clamp(15px, 3vw, 18px);
}
.navigation ul a:hover {
  background: #fff2;
}
.navigation ul a.active {
  background: #fff2;
}

/* Home Section */
#home-section {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 50% auto;
}

/* Intro */
.intro {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro .name {
  font-size: clamp(25px, 3vw, 35px);
  font-weight: 600;
  margin-left: 5%;
}
.intro .catchphrase {
  letter-spacing: 1px;
  margin-left: 10%;
  opacity: 0.79;
  font-size: clamp(10px, 1.2vw, 25px);
}
.text-container .text {
  position: relative;
  color: #4070f4;
  font-size: clamp(25px, 3vw, 35px);
  font-weight: 600;
}
.text-container .text.first-text {
  margin-left: 5%;
  color: #fff;
}
.text-container .text.second-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #121212;
  animation: show 4s steps(12) infinite;
}
.intro a {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: clamp(100px, 10vw, 150px);
  margin: 5% 12%;
  height: 40px;
  font-size: clamp(12px, 1.2vw, 18px);
  background: #fff1;
}
.intro a:hover {
  cursor: pointer;
  transform: scale(1.03);
}

@keyframes show {
  40%,
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Me Div */
.me {
  display: flex;
  align-items: end;
}
.me img {
  width: 100%;
  opacity: 1;
  filter: drop-shadow(10px 10px 10px #4070f4) brightness(0.9);
  transform: translateY(60px);
}
/* Computer Canvas */
#works-section,
.info-container {
  position: relative;
  height: 90vh;
}
.computer-canvas {
  position: absolute !important;
  top: 0;
}

/* Works */
.color-first {
  color: #8c51df;
}
.color-first.border {
  border: 3px solid #8c51df !important;
}
.color-first.background {
  background: #8c51df !important;
}
.color-second {
  color: #4070f4;
}
.color-second.border {
  border: 3px solid #4070f4 !important;
}
.color-second.background {
  background: #4070f4 !important;
}
.color-third {
  color: orange;
}
.color-third.border {
  border: 3px solid orange !important;
}
.color-third.background {
  background: orange !important;
}

.works-container {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
.works-container .parent {
  width: 350px;
  padding: 20px;
  perspective: 1000px;
}

.works-container .parent .card {
  padding: 10px;
  border-radius: 10px;
  transform-style: preserve-3d;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 10px 20px 30px -10px;
  transition: all 0.5s ease-in-out;
}
.works-container .parent .card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg) scale(1.05);
}

.works-container .parent .content-box {
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
  border-radius: 5px;
}
.works-container .parent .content-box:hover {
  background-position: center;
  background-size: cover;
}
.works-container .parent.first .content-box {
  background-image: url('../public/works/animesensei.png');
}
.works-container .parent.first .content-box:hover {
  background-image: url('../public/works/animesensei-hover.png');
}
.works-container .parent.second .content-box {
  background-image: url('../public/works/portfolio.png');
}
.works-container .parent.second .content-box:hover {
  background-image: url('../public/works/animesensei-hover.png');
}
.works-container .parent.third .content-box {
    background-image: url('../public/works/mangasensei.png');
}
.works-container .parent.third .content-box:hover {
  background-image: url('../public/works/mangasensei-hover.png');
}

.works-container .parent .content-box .card-title {
  display: inline-block;
  color: white;
  text-shadow: 3px 1px 3px #000;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.works-container .parent .content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.works-container .parent .content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  text-shadow: 10px 3px 10px #000;
  color: #f2f2f2;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.works-container .parent .content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.works-container .parent .content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff !important;
  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.works-container .parent .content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}
 

/* Mobile */
@media only screen and (max-width: 500px) {
  .header {
    display: block;
    text-align: center;
  }
  .header p {
    font-size: 40px;
  }
  .header .socials-btn i {
    font-size: 150%;
    margin: 0 5px;
  }

  /* Navigation */
  .navigation {
    width: 100%;
    right: 0;
    border-radius: 0;
    transform: none;
    top: auto;
    bottom: 0;
    padding: 0;
    background: #121212;
  }
  .navigation ul {
    flex-direction: row;
    justify-content: center;
  }
  .navigation ul a {
    /*  */
    padding: 23px 20px;
    border-radius: 50%;
    font-size: 20px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation ul a:hover {
    background: transparent;
  }
  .navigation ul a.active {
    background: #fff1 !important;
    border-radius: 0;
  }

  /* Intro */
  #home-section {
    display: block;
    text-align: center;
  }
  .intro {
    margin: 15% 0;
  }
  .intro .name {
    font-size: 45px;
  }
  .intro .text-container {
    overflow-x: hidden;
  }
  .intro .catchphrase {
    margin: 0;
  }
  .intro .text-container .text {
    font-size: 30px;
  }
  .intro .catchphrase {
    padding-left: 0;
    margin-top: 10px;
  }
  .intro a {
    margin: 20px auto;
  }
  /* Me */
  .me img {
    position: absolute;
    bottom: 0;
    transform: translateY(10px);
  }
}

/* Animations */
